<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<bean class="kr.sol.jw.beans.Test" />

	<context:component-scan
		base-package="kr.sol.jw.beans2" />
	<context:component-scan
		base-package="kr.sol.jw.beans3" />

	<bean class="kr.sol.jw.beans2.Test4" id="x4" />
	<bean class="kr.sol.jw.beans2.Test4" id="x5" />

</beans>